* {
    position: relative;
    margin: 0;
    padding: 0;
    color: black;
}

header {
    top: 0;
    position: fixed;
    padding: 0 10%;
    width: 80%;
    height: 80px;
    font-size: 40px;
    display: flex;
    align-items: center;
    background-color: white;
    z-index: 10;
}

#header-right-container {
    margin-left: auto;
    height: 100%;
    display: flex;
    align-items: center;
}

#header-right-container > * {
    margin-left: auto;
    margin-right: 25px;
    height: 50%;
}

.icon {
    height: 40px;
}

.center-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    margin: 0 20%;
}

.fixed-content {
    position: fixed;
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    top: 80px;
    bottom: 0;
}

#webgl-canvas {
    position: relative;
    width: 100%;
    height: 100%;
}

#shadow-border {
    z-index: 20;
    pointer-events: none;
    box-shadow: inset 0px 0px 20px 20px white;
}

#content {
    position: absolute;
    top: 80px;
    padding: 0px 5% 0;
}

#main-text {
    min-width: 50%;
    margin: 3% 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#main-text p {
    width: 100%;
    text-align: start;
}

#main-text p {
    padding: 7px;
}

h1 {
    text-align: center;
    font-size: xxx-large;
    margin: 25px;
}

h2 {
    text-align: center;
    font-size: xx-large;
    margin: 20px;
}

h3 {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    margin: 15px;
}

a {
    transition: 0.25s;
    text-decoration: none;
    color: rgb(60, 195, 60);
}

a:hover {
    text-decoration: none;
    color: #004b00;
}

p {
    font-size: x-large;
    line-height: 1.4;
}

img {
    border-radius: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card {
    position: relative;
    margin: 25px;
    border-radius: 10px;
    width: 40%;
    height: 22.5vw;
    background-position: center;
    background-size: cover;
    opacity: 0.7;
}

.project-card:hover {
    opacity: 1.0;
}

.project-card * {
    margin-left: 0;
    text-align: start;
}

.project-text-container {
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.project-text-container > * {
    color: white;
    margin: 10px;
}

.card-gradient {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 40%);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.screen {
    width: 40%;
    margin: 20px;
}

.video {
    width: 50vw;
    height: 28.125vw;
    border-radius: 10px;
}
